.world-component {
    display: flex;
    flex-direction: column;
    border: 3px dashed #333;
    .__row {
        display: flex;
        flex-direction: row;
        .__col {
            flex: 1;
            position: relative;
        }
        .__agent {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
