.w-block-component {
  width: 100%;
  height: 100%;
  min-height: 50px;
  position: relative;

  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    height: 1.5em;
  }

  &.block {
    background-image: url("/assets/brick-texture.jpg");
    background-size: 100%;
    background-repeat: repeat;

    label {
      color: white;
    }
  }

  &.target {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    label {
      color: white;
      background: rgb(0 0 0 / 26%);
    }
  }
}
